In [1]:
from sqlalchemy import create_engine
from llama_index.core import SQLDatabase, PromptTemplate

In [2]:
import os
from pydantic import BaseModel
from llama_index.llms.ollama import Ollama
from llama_index.llms.litellm import LiteLLM
from llama_index.core.query_engine import NLSQLTableQueryEngine
from llama_index.core import SQLDatabase, PromptTemplate
from sqlalchemy import create_engine

In [3]:
engine=create_engine("postgresql://postgres:password@127.0.0.1:5432/postgres")

In [4]:
engine = create_engine("postgresql://ibm_cloud_7b5ac698_cfbc_41b4_8f44_6879f225ccb8:4c8fb1e0610ffc1759a659dea200e34396b43034afb64696d89c851df98bfe4c@417a5f73-0615-4f92-a47c-bb1db53ed243.c0v4phir0ah9ul9trho0.databases.appdomain.cloud:30224/ibmclouddb")

In [5]:
sql_database = SQLDatabase(engine, include_tables=["atips"])

In [6]:
os.environ["WATSONX_URL"] = "https://us-south.ml.cloud.ibm.com"
os.environ["WATSONX_APIKEY"] = "YXBbUaPerhxIAKSy831GgiwMaRiMAg5sfXw7bmzL8RuW"
os.environ["WATSONX_PROJECT_ID"] = "b73371d8-de23-44c1-92ee-4a51c7e0702d"


TEXT_TO_SQL_MODEL="watsonx/meta-llama/llama-3-70b-instruct"
#llm= LiteLLM(model=TEXT_TO_SQL_MODEL)

llm= LiteLLM(model=TEXT_TO_SQL_MODEL,max_tokens=1500)

In [7]:
text_to_sql_prompt = """
<|begin_of_text|><|start_header_id|>system<|end_header_id|>
Given an input question, first create a syntactically correct SQLQuery to run, then look at the results of the query and return the answer.
You can order the results by a relevant column to return the most interesting examples in the database.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per Postgres. You can order the results to return the most informative data in the database.
Never query for all the columns from a specific table, only ask for a few relevant columns given the question.
You should use DISTINCT statements and avoid returning duplicates wherever possible.
Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Pay attention to which column is in which table. Also, qualify column names with the table name when needed. You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
{schema}
<|eot_id|><|start_header_id|>user<|end_header_id|>
Question: {query_str}
<|eot_id|><|start_header_id|>assistant<|end_header_id|>
SQLQuery:
"""

text_to_sql_template = PromptTemplate(text_to_sql_prompt)

text_to_sql_template

PromptTemplate(metadata={'prompt_type': <PromptType.CUSTOM: 'custom'>}, template_vars=['schema', 'query_str'], kwargs={}, output_parser=None, template_var_mappings=None, function_mappings=None, template='\n<|begin_of_text|><|start_header_id|>system<|end_header_id|>\nGiven an input question, first create a syntactically correct SQLQuery to run, then look at the results of the query and return the answer.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nUnless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per Postgres. You can order the results to return the most informative data in the database.\nNever query for all the columns from a specific table, only ask for a few relevant columns given the question.\nYou should use DISTINCT statements and avoid returning duplicates wherever possible.\nPay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Pay attention to which column is in which table. Also, qualify column names with the table name when needed. You are required to use the following format, each taking one line:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use tables listed below.\n{schema}\n<|eot_id|><|start_header_id|>user<|end_header_id|>\nQuestion: {query_str}\n<|eot_id|><|start_header_id|>assistant<|end_header_id|>\nSQLQuery:\n')

In [ ]:
text_to_sql_prompt = """
    <|begin_of_text|><|start_header_id|>system<|end_header_id|>
    You are a helpful AI assistant for answering questions based on the SQL Database. 
    Given an input question, first create a syntactically correct SQLQuery to run, then look at the results of the query and return the answer.
    You can order the results by a relevant column to return the most interesting examples in the database.
    Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per Postgres. You can order the results to return the most informative data in the database.
    Never query for all the columns from a specific table, only ask for a few relevant columns given the question.
    You should use DISTINCT statements and avoid returning duplicates wherever possible.
    Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Pay attention to which column is in which table. Also, qualify column names with the table name when needed. You are required to use the following format, each taking one line:

    Question: Question here
    SQLQuery: SQL Query to run
    SQLResult: Result of the SQLQuery
    Answer: Final answer here

    Only use tables listed below.
    {schema}
    <|eot_id|><|start_header_id|>user<|end_header_id|>
    Question: {query_str}
    <|eot_id|><|start_header_id|>assistant<|end_header_id|>
    SQLQuery:
    """
        
text_to_sql_template = PromptTemplate(text_to_sql_prompt)

text_to_sql_template

In [ ]:
sql_database.run_sql

In [ ]:
from sqlalchemy import (
    create_engine,
    MetaData,
    Table,
    Column,
    String,
    Integer,
    select,
)

In [ ]:
metadata_obj = MetaData()

In [ ]:
metadata_obj.create_all(engine)

In [ ]:
query_engine = NLSQLTableQueryEngine(
    sql_database=sql_database, 
    tables=["albums"], 
    llm=llm, 
)

In [ ]:
response = query_engine.query("What is unique agreement_number")
print(response)

In [8]:
query_engine = NLSQLTableQueryEngine(
    sql_database=sql_database, 
    tables=["albums"], 
    llm=llm, 
    embed_model="local", 
    text_to_sql_prompt=text_to_sql_template, 
    streaming=True
)

In [9]:
print(query_engine._get_prompts())

{'response_synthesis_prompt': PromptTemplate(metadata={'prompt_type': <PromptType.SQL_RESPONSE_SYNTHESIS_V2: 'sql_response_synthesis_v2'>}, template_vars=['query_str', 'sql_query', 'context_str'], kwargs={}, output_parser=None, template_var_mappings=None, function_mappings=None, template='Given an input question, synthesize a response from the query results.\nQuery: {query_str}\nSQL: {sql_query}\nSQL Response: {context_str}\nResponse: ')}

In [10]:
user_message="What is the maximum pages in the table? Also tell me its owner_org."

In [11]:
response = query_engine.query(user_message)

In [12]:
print(response.metadata['sql_query'])

SELECT MAX(agreement_pages) AS max_pages, owner_org FROM albums GROUP BY owner_org ORDER BY max_pages DESC LIMIT 1;

In [13]:
print(response.get_response())

I see that the SQL query is invalid. Unfortunately, I cannot provide a response to the question without a valid query result. The error message indicates that there is a problem with the SQL statement.

To fix the query, I would suggest rewriting it as follows:

```
SELECT owner_org, MAX(agreement_pages) AS max_pages
FROM albums
GROUP BY owner_org
ORDER BY max_pages DESC
LIMIT 1;
```

This query should return the owner organization with the maximum number of agreement pages. If you run this query and provide the result, I'd be happy to help you synthesize a response to the original question.

/Users/Jin.Zeng@ibm.com/Desktop/canchat-v2/venv-ssc/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
print(response.response_gen)

In [ ]:
for tok in response.response_gen:
    print(tok)

In [ ]:
query_engine = NLSQLTableQueryEngine(
    sql_database=sql_database, 
    tables=["albums"], 
    llm=llm
)

In [ ]:
query_str = "What is the unique agreement_number in the albums?"
response = query_engine.query(query_str)

In [ ]:
from IPython.display import Markdown, display

In [ ]:
display(Markdown(f"{response}"))

In [ ]:
from llama_index.core.indices.struct_store.sql_query import (
    SQLTableRetrieverQueryEngine,
)
from llama_index.core.objects import (
    SQLTableNodeMapping,
    ObjectIndex,
    SQLTableSchema,
)
from llama_index.core import VectorStoreIndex

# set Logging to DEBUG for more detailed outputs
table_node_mapping = SQLTableNodeMapping(sql_database)
table_schema_objs = [
    (SQLTableSchema(table_name="albums"))
]  # add a SQLTableSchema for each table

obj_index = ObjectIndex.from_objects(
    table_schema_objs,
    table_node_mapping,
    VectorStoreIndex,
)
query_engine = SQLTableRetrieverQueryEngine(
    sql_database, obj_index.as_retriever(similarity_top_k=1)
)

In [ ]:
from llama_index.core.retrievers import NLSQLRetriever

# default retrieval (return_raw=True)
nl_sql_retriever = NLSQLRetriever(
    sql_database, tables=["albums"], return_raw=True
)

In [ ]:
results = nl_sql_retriever.retrieve(
    "Return the unique agreement_number."
)

In [ ]:
        text_to_sql_prompt = """
        <|begin_of_text|><|start_header_id|>system<|end_header_id|>
        You are a helpful AI assistant for answering questions based on the SQL Database. 
        Given an input question, first create a syntactically correct SQLQuery to run, then look at the results of the query and return the answer.
        You can order the results by a relevant column to return the most interesting examples in the database.
        Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per Postgres. You can order the results to return the most informative data in the database.
        Never query for all the columns from a specific table, only ask for a few relevant columns given the question.
        You should use DISTINCT statements and avoid returning duplicates wherever possible.
        Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Pay attention to which column is in which table. Also, qualify column names with the table name when needed. You are required to use the following format, each taking one line:

        Question: Question here
        SQLQuery: SQL Query to run
        SQLResult: Result of the SQLQuery
        Answer: Final answer here

        Only use tables listed below.
        {schema}
        <|eot_id|><|start_header_id|>user<|end_header_id|>
        Question: {query_str}
        <|eot_id|><|start_header_id|>assistant<|end_header_id|>
        SQLQuery:
        """

In [ ]:
        print("***** response finishes generation")
        print(response.get_response())
        print("***** response prints")

In [ ]:
import os
from litellm import completion


chat_response = llm.chat(["Hey! how's it going?"])
chat_response


NLSQLTableQueryEngine()